.headtext{
    position: relative;
        display: inline-block;
        padding: 0 125px;
        color: #824444;
        text-shadow: 2px 2px 6px #824444;
}
.headtext:after,.headtext:before {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    width: 115px;
    margin-top: 5px;
    background: #cbcbcb;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.headtext:after {
    content: '';
    right: 0;
}
.headtext:before {
    content: '';
    left: 0;
}
.font {
font-family: "Dancing Script";
}