.headtext{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
        display: inline-block;
        padding: 0 125px;
}
.headtext:after,.headtext:before {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    width: 115px;
    margin-top: 5px;
    background: #cbcbcb;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.headtext:after {
    content: '';
    right: 0;
}
.headtext:before {
    content: '';
    left: 0;
}