.Nav{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar .swiper-button-prev,
.navbar .swiper-rtl .swiper-button-next , .navbar .swiper-button-next,
.navbar .swiper-rtl .swiper-button-prev{
    color: #824444;}
.topnav{
    background-color: #eeeece;
}
.bottonav{
    background-color: #824444;
}
.whatsapp{
    position: fixed;
    right: 40px;
    bottom: 20px;
    z-index: 100;
}
.whatsapp a img{
    width: 70px;
}
